<%- include("header") -%>
 
<div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-center justify-content-md-between">

      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-phone d-flex align-items-center"><span>+91 9962450995</span></i>
        <i class="bi bi-clock d-flex align-items-center ms-4"><span> Mon-Sat: 10AM - 10PM</span></i>
      </div>

      
    </div>
  </div>

  <header id="header" class="fixed-top d-flex align-items-cente">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="#">AHB Restaurant</a></h1>
      
      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#menu">Menu</a></li>
          <li><a class="nav-link scrollto" href="#specials">Specials</a></li>
          <li><a class="nav-link scrollto" href="#events">Events</a></li>
          <li><a class="nav-link scrollto" href="#chefs">Chefs</a></li>
          <li><a class="nav-link scrollto" href="#gallery">Gallery</a></li>
          
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      <a href="#book-a-table" class="book-a-table-btn scrollto d-none d-lg-flex">Chat with us</a>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-8">
          <h1>Welcome to <span>AHB Restaurant</span></h1>
          <h2>Delivering great food for more than 20 years!</h2>

          <div class="btns">
            <a href="#menu" class="btn-menu animated fadeInUp scrollto">Our Menu</a>
            <a href="#book-a-table" class="btn-book animated fadeInUp scrollto">Book a Table</a>
          </div>
        </div>
        <!-- <div class="col-lg-4 d-flex align-items-center justify-content-center position-relative" data-aos="zoom-in" data-aos-delay="200">
          <a href="https://www.youtube.com/watch?v=GlrxcuEDyF8" class="glightbox play-btn"></a>
        </div> -->

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
            <div class="about-img">
              <img src="about.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>AHB RESTAURANTS</h3>
            <p class="font-italic">
              The AHB is a 5-star luxury hotel in Chennai, India.  
              
             

            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> It is located in Guindy, opposite SPIC building and along the same row of buildings as Ashok Leyland Towers. The building, designed by Singapore-based SRSS Architects, is of mixed-use development with three separate wings and is themed after traditional Tamilian Architecture of the Chola Dynasty.</li>
              <li><i class="bi bi-check-circle"></i> The hotel is the ninth hotel in The Luxury Collection brand. The hotel, built on over 1,600,000 sq ft, is dubbed the largest stand-alone hotel in the country built with an investment of ₹ 12,000 million and has the largest convention centre in the country built on 100,000 sq ft with a 30,000-sq ft pillar-less ballroom. 
                It is the third largest hotel in India after Renaissance Mumbai Convention Centre Hotel and Grand Hyatt, both in Mumbai.AHB's Branded Packaged Foods business is one of the fastest growing foods businesses in India, driven by the market standing and consumer franchise of its popular brands - Aashirvaad, Bingo! Sunfeast, Fabelle, Sunbean, 
                Yippee! Kitchens of India, B Natural, ITC Master Chef, Farmland, mint-o, Candyman and GumOn. </li>
              <li><i class="bi bi-check-circle"></i> </li>
            </ul>
            <p>
              AHB's uncompromising commitment to the health and safety of its consumers ensures 
              adherence to the highest levels of quality, safety and hygiene standards in manufacturing processes and in the supply chain.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Why Us</h2>
          <p>Why TO Choose Our Restaurant</p>
        </div>

        <div class="row">

          <div class="col-lg-4">
            <div class="box" data-aos="zoom-in" data-aos-delay="100">
              <span>01</span>
              <h4>AMBIENCE</h4>
              <p>The unique carved and textured exterior resembles the great temples of the Chola period –  The Brihadeshwarar and many others in the Thanjavur district. Sangam, the grand lobby, follows a temple cloister design.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="200">
              <span>02</span>
              <h4>FACILITIES</h4>
              <p> It features 10 dining options and an outdoor swimming pool and a fitness centre. The spa and wellness centre, Kayakalp – The Royal Spa offers 12 treatment rooms with a wide variety of massages and therapies.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="300">
              <span>03</span>
              <h4> FOOD</h4>
              <p>Flavours & Gourmet Couch presents the culinary legacy and finest cuisine offerings from the signature brands and award-winning kitchens at AHB.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Menu Section ======= -->
    <section id="menu" class="menu section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Menu</h2>
          <p>Check Our Tasty Menu</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="menu-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-starters">RATED</li>
              <li data-filter=".filter-salads">SPECIAL</li>
              <li data-filter=".filter-specialty">BEST</li>
            </ul>
          </div>
        </div>

        <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-6 menu-item filter-starters">
            <img src="lobster-bisque.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#"> BRIYANI INSIDE CHICKEN</a><span>$5.95</span>
            </div>
            
          </div>

          <div class="col-lg-6 menu-item filter-specialty">
            <img src="bread-barrel.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">MUTTON ROLLS</a><span>$6.95</span>
            </div>
          
          </div>

          <div class="col-lg-6 menu-item filter-starters">
            <img src="cake.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">CRAB CAKE</a><span>$7.95</span>
            </div>
            
          </div>

          <div class="col-lg-6 menu-item filter-salads">
            <img src="caesar.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">FRIED RICE</a><span>$8.95</span>
            </div>
           
          </div>

          <div class="col-lg-6 menu-item filter-specialty">
            <img src="tuscan-grilled.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Grilled CHICKEN</a><span>$9.95</span>
            </div>
            
          </div>

          <div class="col-lg-6 menu-item filter-starters">
            <img src="mozzarella.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">TANDOORI STICK</a><span>$4.95</span>
            </div>
            
          </div>

          <div class="col-lg-6 menu-item filter-salads">
            <img src="greek-salad.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">GREEK-SALAD</a><span>$9.95</span>
            </div>
            
          </div>

          <div class="col-lg-6 menu-item filter-salads">
            <img src="spinach-salad.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">SPINACH SALAD</a><span>$9.95</span>
            </div>
            
          </div>

          <div class="col-lg-6 menu-item filter-specialty">
            <img src="lobster-roll.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">MUSHROOM CHOWMIEN</a><span>$12.95</span>
            </div>
            

        </div>

      </div>
    </section><!-- End Menu Section -->

    <!-- ======= Specials Section ======= -->
    <section id="specials" class="specials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Specials</h2>
          <p>Check Our Specials</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">IDLI</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-2">SALAD</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-3">NOODLES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-4">PIZZA</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-5">MIXED FRUITS</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>AHB'S SPECIAL IDLI</h3>
                    <p class="font-italic">4.0 out of 5 stars Best product from AHB Must try it. Best ready to mix. Idli are soft, flavour is good and it's made using rice so healthy for your tummy. ... 5.0 out of 5 stars Soft idlis in no time. </p>
                    
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="specials-1.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>AHB'S SALAD</h3>
                    <p class="font-italic"> With the right quantity and type of fruits, a fruit salad can work wonders for you, for it will provide you with a power-packed dose of fibre, vitamins and antioxidants. At the same time, you will also get a wide range of health benefits, right from lower blood pressure levels to weight management.</p>
                    
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="specials-2.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>AHB'S NOODLES</h3>
                    <p class="font-italic">Relish AHB's long, non-sticky and tasty noodles with oodles of special flavours from a special recipe created by AHB just for you. </p>
                    
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="specials-3.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-4">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>AHB'S PIZZA</h3>
                    <p class="font-italic"> The pizzas are good, the base though soggy by the time it got to us. toppings were generous in the chicken pizza and there was just about enough cheese.</p>
                    
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="specials-4.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-5">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>AHB'S MIXED FRUITS</h3>
                    <p class="font-italic"> It is fresh and was filled with nutrients, vitamins and protiens. The way they serve the fruits in a well mannered way attraceted me</p>
                    
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="specials-5.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Specials Section -->

    <!-- ======= Events Section ======= -->
    <section id="events" class="events">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Events</h2>
          <p>Organize Your Events in our Restaurant</p>
        </div>

        <div class="events-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="row event-item">
                <div class="col-lg-6">
                  <img src="event-birthday.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                  <h3>Birthday Parties</h3>
                  <div class="price">
                    <p><span>$189</span></p>
                  </div>
                  <p class="font-italic">
                    AHB Hotels And Resort is a legend in the hospitality sector, and that rightly justifies why we are 
                    starting our list with it. If we want a unique party experience on a sand soaked beach under the moonlight, then this luxury hotel in Chennai definitely, is your destination. 
                  </p>
                  
                  
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="row event-item">
                <div class="col-lg-6">
                  <img src="event-private.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                  <h3>Private Parties</h3>
                  <div class="price">
                    <p><span>$290</span></p>
                  </div>
                  <p class="font-italic">
                    No matter their reason for celebrating, guests who rent space for a private party may require some extra care and attention. From the time of booking until cleanup is finished, our entire staff needs to be working towards the common goal of hosting the best possible party for your guests. While many factors outside of your power 
                    contribute to the perfect party, we  work to create the best possible setting for our guests.
                  </p>
                 
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="row event-item">
                <div class="col-lg-6">
                  <img src="event-custom.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                  <h3>Custom Parties</h3>
                  <div class="price">
                    <p><span>$99</span></p>
                  </div>
                  <p class="font-italic">
                    When everyone gathers for a meal at a hotel, it means enjoying what you love and who you love, whether it's family favorites, food truck cuisine, sharing in festive traditions, or anything else you're craving. AHB thinks of a banquet as a festival of the senses. One that can include open air panoramas, 
                    café-style people-watching, cozy party venues with custom decorations or anything you can imagine that lets people know you care about sharing food and company, memories and inspirations. 
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section>


    <section id="book-a-table" class="book-a-table">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Chat with us</h2>
          <p>RESTO BOT </p>
        </div>
        <center>
        <iframe
        allow="microphone;"
        width="350"
        height="430"
        src="https://console.dialogflow.com/api-client/demo/embedded/567fa489-1ed0-435c-9e52-58cfedbd57ac ">
        </iframe>
        </center>

        

      </div>
    </section>

    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Testimonials</h2>
          <p>What they're saying about us</p>
        </div>

        <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  AHB is definitely one of best places in Chennai to stay, everyone will take  good care of yon, especially Resto Bot will be really helpful and super friendly and the food will  also be amazing.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>AHB</h3>
                <h4>Ceo &amp; Founder</h4>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Set in an opulent, palatial design which pays homage to Southern India’s grand empires, the AHB, Chennai overlooks verdant parks and gardens. Experience understated Indian hospitality in an exquisite property with a distinct personality. 
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="testimonials-2.jpg" class="testimonial-img" alt="">
                <h3>MEGHNA</h3>
                <h4>Designer</h4>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Nothing special to say about the stay and hospitality. Everything will be standard for a 5 star hotel.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="testimonials-3.jpg" class="testimonial-img" alt="">
                <h3>PREETHI</h3>
                <h4>Store Owner</h4>
              </div>
            </div><!-- End testimonial item -->

           

            
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">

      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Gallery</h2>
          <p>Some photos from Our Restaurant</p>
        </div>
      </div>

      <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-0">

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
                 <a href="gallery-1.jpg" class="gallery-lightbox" data-gall="gallery-item">
                <img src="gallery-1.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
                 <a href="gallery-2.jpg" class="gallery-lightbox" data-gall="gallery-item">
                <img src="gallery-2.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
                 <a href="gallery-3.jpg" class="gallery-lightbox" data-gall="gallery-item">
                <img src="gallery-3.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
                 <a href="gallery-4.jpg" class="gallery-lightbox" data-gall="gallery-item">
                <img src="gallery-4.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
                 <a href="gallery-5.jpg" class="gallery-lightbox" data-gall="gallery-item">
                <img src="gallery-5.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
                 <a href="gallery-6.jpg" class="gallery-lightbox" data-gall="gallery-item">
                <img src="gallery-6.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
                 <a href="gallery-7.jpg" class="gallery-lightbox" data-gall="gallery-item">
                <img src="gallery-7.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="gallery-8.jpg" class="gallery-lightbox" data-gall="gallery-item">
                <img src="gallery-8.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Gallery Section -->

    

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>
      </div>

      <div data-aos="fade-up">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.3956803568085!2d80.21819961464563!3d13.010456090830383!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a52676d5bb54be1%3A0xf2c9c9c91db16643!2sITC%20Grand%20Chola!5e0!3m2!1sen!2sin!4v1619945610333!5m2!1sen!2sin" width="1530" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>

      <div class="container" data-aos="fade-up">

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>No:13 AHB Restaurants,Guindy,Chennai</p>
              </div>

              <div class="open-hours">
                <i class="bi bi-clock"></i>
                <h4>Open Hours:</h4>
                <p>
                  Monday-Saturday:<br>
                  10:00 AM - 10 PM
                </p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>ahb@example.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+91 9962450995</p>
              </div>

            </div>

          </div>

        

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main>
<%- include("footer") -%>
